.pizarra-color {
	background: #285da0;
}

.pizarra-color-text {
	color: #285da0;
}

.btn-floating:hover {
	background-color: #285da0;
}

a, a > span {
	color: #285da0 !important;
}

.notes {
	margin-top: .75rem;
}

.notes div.person-avatar {
	left: 0 !important;
	background-size: contain;
}

.notes .actions, .notes .actions * {
	padding-left: 0 !important;
}

.notes .actions i {
	font-size: 1.25rem;
}

.notes .collection, .notes .collection-item {
	border: none !important;
}

.notes .collection-item.avatar {
	padding: .75rem 0.75rem .75rem 3.25rem !important;
}

.collection-item.avatar.row {
	margin: 0;
}

.notes .collection-item.avatar p {
	margin: 3px 0 !important;
}

#note, #comments > li {
	padding-right: 0 !important;
}

#comments {
	padding: 0 1px;
	margin-bottom: 56px;
}

#comments li {
	border-top: 1px solid #e0e0e0 !important;
}

#comments img {
	left: 21px !important;
}

.divider {
	width: 100%;
}

b {
	font-weight: 600 !important;
}

.footer {
	position: fixed;
	bottom: 0;
	z-index: 999;
}

.footer > .row {
	margin: 0;
}

#top-avatar {
	border-radius: 50%;
	height: 32px;
	width: 32px;
	margin-left: .25rem;
	margin-top: 30%;
	background-size: contain;
}

#avatar-info {
	position: absolute;
	left: 56px;
	font-size: 16px;
	line-height: 16px;
	top: 12px;
}

.brand-logo.left {
	left: .5rem;
}

#writeModal {
	position: fixed;
	bottom: 0;
	z-index: 999;
	height: 100%;
	background: white;
}

#writeModal textarea {
	width: calc(100% - 28px);
	border: none;
}

#writeModal > .row {
	height: 100%;
}

#writeModal > .row > .col {
	height: calc(100% - 40px);
}

#writeModal > .row > i:first-child {
	position: absolute;
	top: 10px;
	right: 10px;
}

#writeModal .actions {
	position: absolute;
	width: 100%;
	padding: 10px;
	bottom: 0;
}

img.responsive-img {
	max-height: 45vh;
}

.color {
	width: 30px;
	height: 30px;
	display: inline-block;
}

#profile-rounded-img {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	position: relative;
	margin: auto;
	border: 4px solid white;
	background-size: contain;
}

#picture-upload-btn {
	position: absolute;
	bottom: 5px;
	right: 0px;
}

#edit-fields {
	margin-bottom: 60px;
}

#username {
	text-align: center;
	font-size: 1.7rem;
}

@media screen and (max-width: 420px) {
	#username {
		width: 55% !important;
	}
}

@media screen and (min-width: 421px) and (max-width: 600px) {
	#username {
		width: 45% !important;
	}
}

@media screen and (min-width: 601px) and (max-width: 800px) {
	#username {
		width: 40% !important;
	}
}

@media screen and (min-width: 801px) {
	#username {
		width: 30% !important;
	}
}

#edit-fields .input-field:first-child > label {
	width: auto;
	left: 50%;
	margin-left: -25px;
}

/* Notifications */

#noti-list .secondary-content {
	top: 32%;
	right: 10px;
}

#noti-list li {
	padding: 5px 30px 5px 54px;
}

#noti-list .collection-item.avatar {
	min-height: 65px !important;
}

#noti-list > li > i {
	position: absolute;
	left: 14px !important
}

#noti-list i {
	top: 32%;
}

#noti-list {
	margin-top: .75rem;
}

/* CHATS */

#chats-list .collection-item.avatar {
	min-height: 65px !important;
}

#chats-list li:not(:last-child) {
	border-bottom: 1px solid grey;
}

#chats-list, #noti-list {
	border: none;
}

#chats-list {
	margin-top: 0;
}

p#nochats {
	position: absolute;
	top: 50%;
	left: calc(50% - 160px);
}

#chats-list .secondary-content {
	right: .75rem;
	top: .75rem;
}

.online-icon {
	font-size: 12px !important;
	position: absolute;
	color: #1af10b;
}

.notes .online-icon {
	left: 30px;
	top: 40px;
}

#top-avatar .online-icon {
	font-size: 10px !important;
	left: 27px;
	top: 6px;
}

.mini-card .online-icon {
	bottom: 2px;
	right: 2px;
}

msg {
	word-break: break-word;
}

.chat {
	overflow: auto;
	margin: 10px 0;
}

html, body {
	overflow-x: hidden;
	height: 100%;
}

.bubble {
	display: inline-block;
	padding: 5px 9px;
	position: relative;
	vertical-align: top;
	clear: both;
	word-break: break-word;
	max-width: 75%;
}

.bubble::before {
	content: "\00a0";
	display: block;
	height: 16px;
	position: absolute;
	top: 0;
	width: 20px;
	z-index: -1;
}

.bubble small {
	float: right;
}

.you {
	float: left;
	margin: 5px 45px 5px 20px;
	background-color: #688cbc;
}

.you::before {
	left: -4px;
	background-color: #688cbc;
	transform: rotate(54deg) skew(-35deg);
	-moz-transform: rotate(54deg) skew(-35deg);
	-ms-transform: rotate(54deg) skew(-35deg);
	-o-transform: rotate(54deg) skew(-35deg);
	-webkit-transform: rotate(54deg) skew(-35deg);
}

.me {
	float: right;
	margin: 5px 20px 5px 45px;
	background-color: #e5e5e5;
}

.me::before {
	right: -4px;
	background-color: #e5e5e5;
	transform: rotate(0deg) skew(-35deg);
	-moz-transform: rotate(0deg) skew(-35deg);
	-ms-transform: rotate(0deg) skew(-35deg);
	-o-transform: rotate(0deg) skew(-35deg);
	-webkit-transform: rotate(0deg) skew(-35deg);
}

#messageField, #messageField textarea, #chat-row {
	margin-bottom: 0;
}

#messageField {
	position: absolute;
	bottom: 0;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
	0 3px 1px -2px rgba(0, 0, 0, 0.12),
	0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

#messageField textarea {
	border: none;
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none;
	/* Non-prefixed version, currently
									   supported by Chrome and Opera */
}

ul.select-dropdown > li > span {
	color: #285da0;
}

#profile-table td {
	padding: 5px;
}

#profile-table tr {
	border: none;
}

#profile-table td:first-child {
	width: 24px;
	padding-left: 0;
}

.mini-card {
	height: 180px;
	border-radius: 10%;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
	padding: 8px;
	position: relative;
}

.mini-card div.person-avatar {
	width: 50px;
	height: 50px;
	display: inline-block;
	border-radius: 50%;
	position: relative;
	background-size: contain;
}

.mini-card > div {
	width: 100%;
}

.col.s6:nth-child(odd) > .mini-card {
	margin: 17px 8px 17px 13px;

}

.col.s6:nth-child(even) > .mini-card {
	margin: 17px 13px 17px 8px;
}

#populars-nav {
	height: 48px;
	margin-bottom: 1rem;
	position: relative;
}

.vdivider {
	position: absolute;
	width: 1px;
	height: 48px;
	background-color: #e5e5e5;
	left: 50%;
}

.text-medium {
	font-size: 1.3em;
}

p {
	word-break: break-word;
}

[type="checkbox"].filled-in:checked + span:not(.lever):after {
	border: 2px solid #285da0;
	background-color: #285da0;
}

.avatar-checkbox {
	position: absolute;
	top: 10px;
	right: 0;
}
