a > span{
    color: #039be5;
    font-size: 1.2em;
}

.text-medium {
    font-size: 1em;
}

.chip.small{
    height: 20px;
    line-height: 20px;
    padding: 0 8px;
}

.img-wrap {
	width: 100%;
	height: 200px;
	position: relative;
	display: inline-block;
	overflow: hidden;
	margin: 0;
}

.img-wrap img {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	min-height: 100%;
	min-width: 100%;
	transform: translate(-50%, -50%);
}

p{
    word-break: break-word;
}
td img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
tr:first-child td{
    padding-bottom: 0;
}
tr:last-child td{
    padding-top: 0;
}
#first{
    max-width: 40%;
}
#second-row img{
    max-width: 80%;
}

nav.nav-center ul {
    text-align: center;
}
nav.nav-center ul li {
    display: inline;
    float: none;
}
nav.nav-center ul li a {
    display: inline-block;
}
input[type="text"]:focus:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly])
{
    border-bottom: #339900;
    box-shadow: 0 1px 0 0 #339900;
}

input[type="text"]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
    color: #339900;
}

img.responsive-img, video.responsive-video {
  max-width: 100%;
  max-height: 160px;
}