<!-- MENU -->
<div class="row" style="margin-bottom: 10px;">
    <nav>
        <div class="nav-wrapper pizarra-color">
            <!--Logo-->
            <span class="brand-logo left" onclick="apretaste.send({'command':'PIZARRA PERFIL'})">
                <img src="{{APP_SERVICE_PATH}}/images/<%= myUser.avatar %>.png" alt="Avatar" id="top-avatar">
            </span>
            <span id="avatar-info">
                <b>
                    @<%= myUser.username %>
                    <br>
                    <small>★<%= myUser.reputation %></small>
                </b>
            </span>
            <!--notifications & profile-->
            <ul class="right">
                <li>
                    <a href="#searchModal" class="black-text modal-trigger">
                        <i class="material-icons white-text">search</i>
                    </a>
                </li>
                <li>
                    <a href="#!" class="black-text" onclick="apretaste.send({'command':'CHAT'})">
                        <i class="material-icons white-text">chat</i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<!-- CONTENT -->
{{APP_TEMPLATE_CODE}}

<!-- FOOTER MENU -->
<nav class="container center-align hide-on-unique footer">
    <div class="nav-wrapper row white">
        <div class="col s4">
            <a href="#!" class="grey-text text-darken-3" onclick="apretaste.send({'command':'PIZARRA'})">
                <i class="material-icons">home</i>
            </a>
        </div>
        <div class="col s4">
            <a href="#!" class="grey-text text-darken-3" onclick="apretaste.send({'command':'PIZARRA POPULARES'})">
                <i class="material-icons">star</i>
            </a>
        </div>
        <div class="col s4">
            <a href="#!" class="grey-text text-darken-3" onclick="apretaste.send({'command':'PIZARRA NOTIFICACIONES'})">
                <i class="material-icons">notifications</i>
            </a>
        </div>
    </div>
</nav>

<!-- MODALS -->
<div id="searchModal" class="modal bottom-sheet">
    <div class="modal-content">
        <div class="input-field">
            <input type="text" id="search" class="validate">
            <label for="search">Buscar</label>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-light btn-flat">Cerrar</a>
        <a onclick="searchText()" class="waves-effect waves-green btn-flat">Buscar</a>
    </div>
</div>

<div id="themifyModal" class="modal bottom-sheet">
    <div class="modal-content">
        <div class="input-field">
            <input type="text" id="theme" class="validate">
            <label for="theme">Asignar tema</label>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-light btn-flat">Cancelar</a>
        <a onclick="themifyNote()" class="modal-close waves-effect waves-green btn-flat">Asignar</a>
    </div>
</div>

<div id="deleteConfirmModal" class="modal bottom-sheet">
    <div class="modal-content">
        <p>¿Esta seguro de eliminar su nota?</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-light btn-flat">Cancelar</a>
        <a onclick="deleteNote()" class="modal-close waves-effect waves-green btn-flat">Eliminar</a>
    </div>
</div>