<%
var menu = [
    {link: '', caption: 'Muro'},
    {link: 'GLOBAL', caption: 'Global'},
    {link: 'POPULARES', caption: 'Tendencia'},
    {link: 'INFLUENCERS', caption: 'Influencers'}
    ];
%>

<!-- TABS -->
<div class="row" style="margin-bottom: 0.75rem">
    <div class="col s12">
        <ul class="tabs tabs-fixed-width">
            <% menu.forEach(function(e) { %>
                <% var active = typeof title != "undefined" && title == e.caption ? 'active' : '' %>
                <li class="tab">
                    <a href="#" class="green-text <%= active %>"
                       onclick="apretaste.send({'command':'PIZARRA <%= e.link %>'})"
                    >
                        <%= e.caption %>
                    </a>
                </li>
            <% }); %>
        </ul>
    </div>
</div>

<!-- CONTENT -->
<div class="row">
    {{APP_TEMPLATE_CODE}}
</div>

<div id="deleteConfirmModal" class="modal">
    <div class="modal-content">
        <p>¿Desea borrar esta nota de pizarra?</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-light btn-flat grey-text text-darken-2">Cancelar</a>
        <a onclick="deleteNote()" class="modal-close waves-effect waves-green btn-flat"
           style="font-weight: 500">Aceptar</a>
    </div>
</div>

<%- '<serviceImgPath data="{{APP_SERVICE_PATH}}/images/"></serviceImgPath>' %>
