<div class="col s12 m10 l8 offset-m1 offset-l2">
	<!-- MENU -->
	<div class="row">
		<nav>
			<div class="nav-wrapper white">
				<!--Logo-->
				<span class="brand-logo left hide-on-small-only">
					<i><b style="color:#9E100A; font-size:40px; font-family:Times;">&nbsp; P</b></i>
				</span>
				<!--notifications & profile-->
				<%if(num_notifications>0) noti_icon = "notifications_active"; else noti_icon = "notifications";%>
				<ul class="right">
					<li><a href="#!" class="black-text" onclick="apretaste.send({'command':'PIZARRA'})">
						<i class="material-icons">assignment</i>
					</a></li>
					<li><a href="#!" class="black-text" onclick="apretaste.send({'command':'PIZARRA PERFIL'})">
						<i class="material-icons">account_box</i>
					</a></li>
					<li><a href="#!" class="black-text" onclick="apretaste.send({'command':'PIZARRA CHAT'})">
						<i class="material-icons">chat</i>
					</a></li>
					<li><a href="#!" class="black-text" onclick="apretaste.send({'command':'PIZARRA TEMAS'})">
						<i class="material-icons">stars</i>
					</a></li>
					<li><a href="#searchModal" class="black-text modal-trigger">
						<i class="material-icons">search</i>
					</a></li>
					<li class="hide-on-small-only"><a href="#!" class="black-text" onclick="apretaste.send({'command':'NOTIFICACIONES','data':{'filter':['pizarra','nota','chat']}})">
						<i class="material-icons"><%=noti_icon%></i>
					</a></li>
				</ul>
			</div>
		</nav>
	</div>

	<!-- CONTENT -->
	<div class="row">
		{{APP_TEMPLATE_CODE}}
	</div>

	<!-- FOOTER -->
	<div class="row center-align">
		<a href="#!" onclick="apretaste.send({'command':'SOPORTE'});">Ayuda con Pizarra</a>
		<div class="divider"></div>
		Pizarra &copy;
		<%=(new Date).getFullYear()%>; All rights reserved.
	</div>
</div>