<div class="row">
    <div class="col s12">
        <h5>¿Que es Pizarra?</h5>
        <p>Nuestra Pizarra es un espacio en el cual puede compartir notas con otros usuarios, o puede leer lo que otros escriben y dejarles saber su opinion. En la Pizarra puede conocer amigos y compartir temas que le apasionen, ya sea en publico o en privado.</p>

        <h5>Notas</h5>
        <p>Las notas son los textos que usted escribe o lee. Hay notas publicas y privadas. Las notas tienen un maximo de 300 caracteres, y pueden contener menciones a otros @usuarios o vinculos a otras websites. Las notas son clasificadas por #temas.</p>

        <h5>@usernames</h5>
        <p>Cada usuario se identifica por un nombre corto, precedido del simbolo @; a este conjunto llamamos @username. Los @usernames son unicos y se generan la primera vez que use la Pizarra, pero pueden cambiarse en el perfil. Puede encontrar el @username de un usuario junto a sus notas. Si quiere entablar una conversacion publica con otro usuario, escriba su @username en una nota y ellos recibiran una notificacion.</p>

        <h5>#temas</h5>
        <p>Los temas se identifican por palabra precedida del simbolo #. Estos agrupan notas con un fin comun. Por ejemplo el tema #amistad puede contener notas de personas buscando amigos en la Pizarra. Cuando usted escribe una nota debe asignarle un tema; si no lo hace su nota pertenecera al tema #general. Cada nota puede pertenecer a un maximo de tres temas.</p>
        <p>Usted puede crear nuevos temas para sus notas. Si escribe la nota: "Estoy buscando #amistad en la pizarra", esta se publicara bajo el tema #amistad, y si el mismo no existe lo creara bajo su autoria. Si usted crea un tema y otros usuarios lo usan para asignar sus notas, aumentara su reputacion. Puedes ver tu lista de tus temas en tu perfil.</p>

        <h5>Reputacion</h5>
        <p>Su reputacion refleja cuanto le quieren o le rechazan en la Pizarra, cada like sumara 2 puntos y cada dislike restara 1 punto. La reputacion es un simple indicador, no provee beneficio alguno.</p>
    </div>
</div>