<div class="row">
    <div class="col s12">
        <!-- textbox -->
        <textarea id="note" class="materialize-textarea" maxlength="600" placeholder="¿En qué piensas?"></textarea>

        <!-- popular topics -->
        <% if(myPopularTopics.length > 0 || popularTopics.length > 0){ %>
            <div class="input-tags" style="margin-bottom: 10px;">
                <p class="blue-grey-text">Escoja sus temas</p>
                <% myPopularTopics.forEach(function(topic) { %>
                    <span class="chip tiny" onclick="appendTag('<%= topic.name %>')">
                        <i class="fas fa-hashtag"></i> <%= topic.name %>
                    </span>
                <% }) %>
                <% popularTopics.forEach(function(topic) { %>
                    <span class="chip tiny" onclick="appendTag('<%= topic.name %>')">
                        <i class="fas fa-hashtag"></i> <%= topic.name %>
                    </span>
                <% }) %>
            </div>
        <% } %>

        <input type="file" id="picture" accept="image/*" class="hide">
        <img id="notePicture" class="responsive-img"/>
7
        <!-- article location -->
        <textarea id="article"></textarea>

    </div>
</div>

<ul id="home-menu" class="sidenav">
    <li><a href="#!" onclick="uploadPhoto();"><i class="material-icons icon">photo</i> Imagen</a></li>
    <li><a href="#!" onclick="$('#articleRich').slideDown().removeClass('hide').find('textarea').focus()"><i class="material-icons icon">insert_drive_file</i> Artículo</a></li>
</ul>

<div class="bottom-space"></div>

<div class="fixed-action-btn">
    <a class="btn-floating waves-effect waves-light grey sidenav-trigger third" href="#!" data-target="home-menu"><i class="material-icons">menu</i></a>
    <a class="btn-floating waves-effect waves-light grey second" href="#!" onclick="apretaste.back();"><i class="material-icons">arrow_back</i></a>
    <a class="btn-floating btn-large waves-effect waves-light" href="#!" onclick="sendNote()"><i class="material-icons">send</i></a>
</div>
