{literal}
@font-face {
	font-family: "emoji";
	src: url('/fonts/seguiemj.ttf') format("truetype");
}
@media only screen and (max-width: 600px) {
	#container {
		width: 100%;
	}
}
@media only screen and (max-width: 480px) {
	.button {
		display: block !important;
	}
	.button a {
		display: block !important;
		font-size: 18px !important;
		width: 100% !important;
		max-width: 600px !important;
	}
	.section {
		width: 100%;
		margin: 2px 0px;
		display: block;
	}
	.phone-block {
		display: block;
	}
}

body{
	font-family: Arial;
}

h1{
	color: #9E100A;
	text-transform: uppercase;
	font-size: 22px;
	font-weight: normal;
	margin-top: 0px;
}

hr {
	border: 0;
	height: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.online{
	background-color:#74C365;
	font-size:7px;
	padding:2px;
	border-radius:3px;
	color:white;
	font-weight:bold;
}

.rounded{
	background: white;
	padding: 10px;
}

.emoji{
	font-family: emoji;
}

.profile-small{
	float:left;
	width: 30px;
	height:30px;
	border-radius:100px;
	margin-right:5px;
}

h3{
	margin: 0 0 5px 0;
}

#desc{
	text-align: justify;
}

.btn-small {
    height: 32.4px;
    line-height: 32.4px;
    font-size: 13px;
}

.card-header {
	overflow: hidden;
	width: 100%;
	text-align: center;
	padding-top: 10px;
  }

.card-header img{
	width: auto;
	max-height: 300px;
}

/*Format Rules*/
.center { text-align: center; }
.hidden { display: none; }

/*! CSS Used for: Cards */
.grey-text{color:#9e9e9e!important;}
.blue-text a{color:#2196F3!important}
.pink-text a{color:#e91e63!important}
.black-text a{color:#000!important}
.white{background-color:#fff!important;}
.grey{background-color:#9e9e9e!important;}
.grey.lighten-3{background-color:#eee!important;}
a{background-color:transparent;-webkit-text-decoration-skip:objects;}
*,*:before,*:after{-webkit-box-sizing:inherit;box-sizing:inherit;}
a{color:#039be5;text-decoration:none;-webkit-tap-highlight-color:transparent;}
.card{-webkit-box-shadow:0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);box-shadow:0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);}
.divider{height:1px;overflow:hidden;background-color:#e0e0e0;}
.right-align{text-align:right;}
.row{margin-left:auto;margin-right:auto;margin-bottom:0;}
.row:after{content:"";display:table;clear:both;}
a{text-decoration:none;}
small{font-size:75%;}
.card{position:relative;margin:.5rem 0 1rem 0;background-color:#fff;-webkit-transition:-webkit-box-shadow .25s;transition:-webkit-box-shadow .25s;transition:box-shadow .25s;transition:box-shadow .25s, -webkit-box-shadow .25s;border-radius:2px;}
.card .card-content{padding:24px;border-radius:0 0 2px 2px;}
.card .card-content p{margin:0;}
.card .card-action{background-color:inherit;border-top:1px solid rgba(160,160,160,0.2);position:relative;padding:16px 24px;}
.card .card-action:last-child{border-radius:0 0 2px 2px;}

/*! CSS Used for: Nav */
nav{display:block;}
ul:not(.browser-default){padding-left:0;list-style-type:none;}
ul:not(.browser-default)>li{list-style-type:none;}
nav{-webkit-box-shadow:0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);box-shadow:0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);}
i{line-height:inherit;}
.left{float:left!important;}
.right{float:right!important;}
nav{color:#fff;background-color:#ee6e73;width:100%;height:56px;line-height:56px;}
nav a{color:#fff;}
nav i{display:block;font-size:24px;height:56px;line-height:56px;}
nav .nav-wrapper{position:relative;height:100%;}
nav .brand-logo{position:absolute;color:#fff;display:inline-block;font-size:2.1rem;padding:0;}
@media only screen and (max-width: 992px){
	nav .brand-logo{left:50%;-webkit-transform:translateX(-50%);transform:translateX(-50%);}
	nav .brand-logo.left{padding:0;-webkit-transform:none;transform:none;}
	nav .brand-logo.left{left:0.5rem;}
}
nav .brand-logo i{float:left;margin-right:15px;}
nav ul{margin:0;}
nav ul li{-webkit-transition:background-color .3s;transition:background-color .3s;float:left;padding:0;}
nav ul a{-webkit-transition:background-color .3s;transition:background-color .3s;font-size:1rem;color:#fff;display:block;padding:0 15px;cursor:pointer;}
nav ul a:hover{background-color:rgba(0,0,0,0.1);}
@media only screen and (min-width: 601px){
	nav,nav .nav-wrapper i{height:64px;line-height:64px;}
}
nav.nav-center ul {text-align: center;}
nav.nav-center ul li {display: inline; float: none;}
nav.nav-center ul li a {display: inline-block;}

/*CSS Used for list*/
.collection{margin:.5rem 0 1rem 0;border:1px solid #e0e0e0;border-radius:2px;overflow:hidden;position:relative;}
.collection .collection-item{background-color:#fff;line-height:1.5rem;padding:10px 20px;margin:0;border-bottom:1px solid #e0e0e0;}
.collection .collection-item:last-child{border-bottom:none;}
.collection .collection-item.active{background-color:#26a69a;color:#eafaf9;}
{/literal}

/*Message Boxes*/
.message {
	font-size: small;
	padding: 7px;
	margin: 5px 0px;
}
.success { color:#747941; background-color:#DFF0D8; }
.error { color:#B64850; background-color:#F2DEDE; }
.warning { color:#BF8740; background-color:#FCF8E3; }
